{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container register"><br>
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">

      {% if form.errors %}
      <p> Please check your details </p>
      {% endif %}
      <div class="panel-default form-body">
        <div style='text-align:center;'>
					<img src="/static/images/bus2.jpeg" alt="Bus Image" height="120" width="220" />
				</div>
        <div class="panel-heading">
          <h1 class="text-center"><b>Signup</b></h1>
        </div>
        <div class="panel-body">

          <form action=""  method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-outline-info btn-sm" value="Register">
            </div>

            <input type="hidden" name="newprofile" value ="newprofile">

          </form>
              <div class="border-bottom pt-3">
                <p class="text-muted">Already have an account?<a class="ml-2" href="{% url 'login' %}"><i>Login Here</i></a></p>
              </div>
        </div>

      </div>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}