{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>ALUTA TRAVELLERS</title>
</head>

<body class="container-fluid">
      <!-- footer -->
  <footer>
    <div class="container-fluid bg-footer">
        <div class="container">

         <h3>Footer</h3>

        </div>
    </div>

    <!-- sub footer -->
    <div class="container-fluid bg-copyright">
        <div class="container">
            <p class="copyright">
                &copy; 2022 Aluta.com
            </p>
        </div>
    </div>
    <!-- end sub footer -->

</footer>
<!-- end footer -->


    
</body>
</html>